<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualRecargaPOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <VisualRecargaPOS.My.MySettings>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPasswd" serializeAs="String">
                <value />
            </setting>
            <setting name="UltUser" serializeAs="String">
                <value />
            </setting>
            <setting name="CodVendedor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintPort" serializeAs="String">
                <value>COM1:</value>
            </setting>
            <setting name="Estacion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Impresora" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TipoLetra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NombreEnTickets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaltarLineasAntes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaltarLineasDespues" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MargenIzq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CortarPapel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NomVendedor" serializeAs="String">
                <value />
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TipoTicket" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interlineado" serializeAs="String">
                <value>False</value>
            </setting>
        </VisualRecargaPOS.My.MySettings>
    </userSettings>
</configuration>
